<div class="panel panel-default">
  <div class="panel-heading">Registros disponíveis</div>
  <div class="panel-body">Abaixo você encontra uma lista dos registros que já foram cadastrados!</div>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>CNPJ</th>
        <th>Nome</th>
        <th>Data última atualização</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="registro in model.listaDeRegistros">
        <td>{{registro.cnpj}}</td>
        <td>{{registro.nomeEmpresa}}</td>
        <td>{{registro.dataUltimaAtualizacao}}</td>
      </tr>
    </tbody>
  </table>
</div>
