<div class="container-fluid">
  <div ng-repeat="alert in alerts" class="alert alert-{{alert.class}}" role="alert">
    {{alert.message}}
  </div>
  <ng-form name="empresaForm">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>Empresa</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="form-group col-md-6" show-errors >
            <label>CNPJ *</label>
            <input id="cnpj" name="cnpj" type="tel" class="form-control" ng-model="model.registro.cnpj" required autofocus />
          </div>
          <div class="form-group col-md-6">
            <label>NIRE</label>
            <input type="tel" class="form-control" ng-model="model.registro.nire" />
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-8" show-errors>
            <label>Nome da empresa *</label>
            <input name="nomeEmpresa" class="form-control" ng-model="model.registro.nomeEmpresa" placeholder="Digite o nome completo de empresa" required />
          </div>
          <div class="form-group col-md-4" show-errors>
            <label>Data de Constituição *</label>
            <input name="dataConstituicao" type="date" class="form-control" ng-model="model.registro.dataConstituicao" placeholder="dd/mm/aaaa" required />
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>Localização</h3>
      </div>
      <div class="panel-body">
        <endereco info="model.registro.localizacao"></endereco>
      </div>
    </div>
  </ng-form>

  <ng-form name="socioForm">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>Sócios / Titulares / Diretores</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="form-group col-md-12" show-errors>
            <label>Nome *</label>
            <input name="nome" type="text" class="form-control" ng-model="model.novoSocio.nome" required />
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-4">
            <label>Nacionalidade</label>
            <select class="form-control" ng-model="model.novoSocio.nacionalidade">
              <option value="Brasileiro">Brasileiro</option>
            </select>
          </div>
          <div class="form-group col-md-4" show-errors>
            <label>CPF *</label>
            <input name="cpf" type="text" class="form-control" ng-model="model.novoSocio.cpf" required />
          </div>
          <div class="form-group col-md-4" show-errors>
            <label>Estado Atual *</label>
            <div class="row">
              <div class="col-md-6">
                <input type="radio" name="estadoAtual" ng-model="model.novoSocio.estadoAtual" value="Ativo" required />
                Ativo
              </div>
              <div class="col-md-6">
                <input type="radio" name="estadoAtual" ng-model="model.novoSocio.estadoAtual" value="Desligado" required />
                Desligado
              </div>
            </div>
            <span class="help-block" ng-show="showEstadoAtualError()">Selecione um estado atual!</span>
          </div>
        </div>
        <h3>Endereço</h3>
        <endereco info="model.novoSocio.endereco"></endereco>
        <div class="row">
          <div class="col-md-12">
            <button class="btn btn-primary" ng-click="adicionarSocio()">Adicionar Sócio</button>
          </div>
        </div>
        <br>
        <div class="row" ng-hide="model.registro.socios === undefined || model.registro.socios.length === 0">
          <div class="col-md-12">
            <div class="panel panel-success">
              <div class="panel-heading">Lista de sócios</div>

              <table class="table table-condensed table-hover">
                <thead>
                  <tr>
                    <th>Nome</td>
                    <th>Estado Atual</td>
                  </tr>
                </thead>
                <tbody>
                <tr ng-repeat="socio in model.registro.socios">
                  <td>{{socio.nome}}</td>
                  <td>{{socio.estadoAtual}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-form>

  <ng-form name="arquivoForm">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>Adicionar Arquivo</h3>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <input type="file" ng-model="registro.arquivo" />
          <br>
          <button type="button" class="btn btn-primary" ng-click="adicionarArquivo()">Adicionar Arquivo</button>
        </div>
      </div>
    </div>

    <div class="row center-block">
      <div class="col-md-12">
        <button class="btn btn-success btn-lg" ng-click="registrar()">Registrar</button>
      </div>
    </div>
  </ng-form>
</div>
